{% extends "base.html.twig" %}

        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}

{% block body %}

 <div class="header">
    <nav class="navbar navbar-expand-lg">

        <img src="{{ asset('images/logo_size.jpg') }}" id="logo">                
        {# <h1 class="navbar-brand">Plaisir de Conduire</h1> #}

        <button class="navbar-toggler" id="openNavbar" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" onclick="openNav()">&#9776;</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <a class="nav-link active menu01" href="/">Accueil</a>
                <a class="nav-link" href="#">Voitures</a>
                <a class="nav-link" href="#">Motos</a>
                <a class="nav-link" href="/test">TEST</a>
            </div>






 <div class="navbar-nav ml-auto">
                    {% if app.user %}
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Bienvenue {{ app.user.prenom }}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/user">                                
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin-right:8px;">
                                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                    <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                                Mon compte
                            </a>
                            
                            <hr style="background:#F2BA52;">

                            <a class="dropdown-item" href="{{ path('app_logout') }}">
                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-telephone-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin-right:8px;">
                                    <path fill-rule="evenodd" d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zm9.262 1.135a.5.5 0 0 1 .708 0L13 2.793l1.146-1.147a.5.5 0 0 1 .708.708L13.707 3.5l1.147 1.146a.5.5 0 0 1-.708.708L13 4.207l-1.146 1.147a.5.5 0 0 1-.708-.708L12.293 3.5l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            Deconnexion
                            </a>

                        </div>

                        <div class="dropdown-menu">
                        </div>

                    </div>
                    {% else %}
                    <a class="btn identification-co" href="/login" style="margin-right:6px;">Connexion</a>
                        {# <img class="img-robot-menu" src="{{ asset('uploads/images/android-161007_640.png') }}"> #}
                    <a class="btn identification-co" href="/register">Inscription</a>
                    {% endif %}
                </div>





        </div>

    </nav>
  </div>




{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
            <script src="{{ asset('js/app.js') }}"></script>
        <script>
            function openNav() {
                document.getElementById("navbarNavAltMarkup").style.width = "100%";
            }

            function closeNav() {
                document.getElementById("navbarNavAltMarkup").style.width = "0";
            }
        </script>

        {% endblock %}